<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Instagram Example</h1>
      <p class="lead text-muted">
        <!-- Rails application, which allows the user to view their Instagram pictures.<br> -->
        <% unless current_user %>
        Instagram application still in Sandbox mode, use the following account to test the application<br/><br/>
        Username: testintgmrails <br/>
        Password: instagram_rails <br/>
        <% end %>
      </p>

      <p>
        <% if current_user %>
          <%= link_to('My Pictures', media_items_path, class:"btn btn-primary my-2") %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"btn btn-secondary my-2") %>
        <% else %>
          <%= link_to "Login with Instagram", omniauth_authorize_path(:user, :instagram), class: "btn btn-primary my-2" %>
        <% end %>
      </p>
    </div>
  </section>
</main>
