<% if notice %>
<div class="alert alert-success">
  <strong>Success!</strong> <%= notice %>
</div>
<% end %>


<% if alert %>
<div class="alert alert-danger">
  <strong>Danger!</strong> <%= alert %>
</div>
<% end %>
